[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesMixSurv"]
	path = BayesMixSurv
	url = https://github.com/cran/BayesMixSurv
[submodule "BSGW"]
	path = BSGW
	url = https://github.com/cran/BSGW
[submodule "CFC"]
	path = CFC
	url = https://github.com/cran/CFC
[submodule "DBR"]
	path = DBR
	url = https://github.com/cran/DBR
[submodule "EnsembleBase"]
	path = EnsembleBase
	url = https://github.com/cran/EnsembleBase
[submodule "EnsembleCV"]
	path = EnsembleCV
	url = https://github.com/cran/EnsembleCV
[submodule "EnsemblePCReg"]
	path = EnsemblePCReg
	url = https://github.com/cran/EnsemblePCReg
[submodule "EnsemblePenReg"]
	path = EnsemblePenReg
	url = https://github.com/cran/EnsemblePenReg
[submodule "MatchLinReg"]
	path = MatchLinReg
	url = https://github.com/cran/MatchLinReg
[submodule "MfUSampler"]
	path = MfUSampler
	url = https://github.com/cran/MfUSampler
[submodule "RegressionFactory"]
	path = RegressionFactory
	url = https://github.com/cran/RegressionFactory
[submodule "SAMUR"]
	path = SAMUR
	url = https://github.com/cran/SAMUR
[submodule "sns"]
	path = sns
	url = https://github.com/cran/sns
